[push]
	default = simple

[color]
	ui = auto
	decorate = short

[diff]
	tool = nvim -d

[merge]
	tool = nvim -d
	conflictstyle = diff3
	prompt = false

[alias]
	co = commit
	coa = commit -a
	d = diff
	m = mergetool
	st = status
	pu = pull --rebase
	out      = !git fetch && git log FETCH_HEAD..
	outgoing = !git fetch && git log FETCH_HEAD..
	in       = !git fetch && git log ..FETCH_HEAD
	incoming = !git fetch && git log ..FETCH_HEAD
	lo = log --oneline --date-order --graph --decorate --full-history --pretty=format:'%C(64)%h %C(46)%s %C(245)- %C(253)%an %C(253)(%C(245)%ar%C(253))'

[github]
	user = baabelfish
	email = baabelfish@gmail.com

[user]
	email = baabelfish@gmail.com
	name = baabelfish
