snippet defn "" !b
(defn ${1:name}
  "${2}"
  [${3}]
  $0)
endsnippet

snippet deftest "" !b
(deftest ${1:name}
  (testing "${2:case}"
    (is (= $0))))
endsnippet

snippet pl "" !wb
(println $0)
endsnippet
