snippet cl "logloglog" !w
console.log(${VISUAL}${1});$0
endsnippet

snippet if "" !w
if (${1:true}) {
    ${VISUAL}$0
}
endsnippet

snippet else "" !w
else {
    ${VISUAL}$0
}
endsnippet

snippet bb "" !w
new Promise((resolve, reject) => {$0
});
endsnippet
